.collapse {
  border-radius: 5px;
  background: #f4f5f7;
  // overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  line-height: 45px;
  padding-left: 9px;
  background-color: rgb(235, 240, 245);
  position: sticky;
  top: 0px;
  z-index: 21;
}

.headerRight {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreMenu {
  width: 20px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 3px;
  color: #a7a8a8;
}

.moreMenu:hover {
  background-color: #e2e4e6;
  color: #7d7e7e;
}

.date {
  padding-right: 10px;
  flex-grow: 1;
  text-align: right;
  font-size: 12px;
  color: #606c80;
}

.headerExpand {
  cursor: pointer;
}

.icon {
  margin-right: 5px;
  font-size: 10px;
  color: #606c80;
  opacity: .8;
}

.icon:hover {
  color: #000;
  opacity: 1;
}

.name {
  color: #202d40;
  margin-right: 10px;
}

.issuesNum {
  font-size: 12px;
  color: #606c80;
}

.body {
  padding: 0 12px;
}

.addFooter {
  background-color: rgb(235, 240, 245);
  display: flex;
  align-items: center;
  padding-left: 9px;
  color: #8592a6;
  cursor: pointer;
  font-weight: 400;
  line-height: 34px;
  position: sticky;
  top: 0px;
  z-index: 19;
}

.addFooter:hover {
  color: #202d40;
  font-weight: 500;
}

.addRoot {
  padding: 8px 12px 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.addItemContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  background: #f4f5f7;
}

.addMenu {
  margin-right: 8px;
}

.btn {
  box-shadow: none;
  width: 56px;
  height: 24px;
  text-align: center;
  background-color: rgb(241, 237, 237);
  cursor: pointer;
  margin-left: 8px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 24px;
}

.addItemInput {
  outline: none;
  border: none;
  padding: 2px 10px;
  width: 100%;
}

.mainEmpty {
  background: #edeff2;
  border-radius: 3px;
  border: 2px dashed #cdd1da;
  width: 100%;
  margin: 2px;
  text-align: center;
  line-height: 70px;
  color: #8592a6;
  font-size: 13px;
}

.modal {
  width: 480px;
  // position: absolute;
  // left: 50%;
  // top: 20%;
  // margin: 0;
  // padding: 30px;
  // background: #fff;
  // transform: translate(-50%, -50%);
}

.modalTitle {
  font-size: 18px;
  color: #202d40;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modalMsg {
  font-size: 14px;
  color: #202d40;
  line-height: 16px;
}

.modalMsgTime {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #202d40;
  line-height: 16px;
}

.modalBtn {
  margin-top: 30px;
}

.modalDate {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.modalRight,
.modalLeft {
  width: 50%;
}

.btn {
  width: 100px;
  padding: 0;
  height: 30px;
  font-size: 14px;
  margin: 0;
}

.leftBtn {
  border: 1px solid #f81d22;
  background-color: #f81d22;
  color: #fff;
  margin-right: 40px;
}

.leftBtn:hover {
  background-color: #202d40;
  border: 1px solid #202d40;
}

.rightBtn {
  border: 1px solid #202d40;
  background-color: transparent;
  color: #202d40;
}

.rightBtn:hover {
  background-color: #202d40;
  border: 1px solid #202d40;
}

.beginBtn {
  border: 1px solid #202d40;
  background-color: #202d40;
  color: #fff;
  margin-right: 40px;
}

.beginBtn:hover {
  background-color: #202d40;
  opacity: 0.7;
  border: 1px solid #202d40;
}

.sureBtn {
  border: 1px solid #202d40;
  background-color: #202d40;
  color: #fff;
  margin-right: 40px;
}

.sureBtn:hover {
  background-color: #202d40;
  opacity: 0.7;
  border: 1px solid #202d40;
}

.datePick {
  width: 100%;
  cursor: pointer;
}
