.collapse {
  border-radius: 5px;
  background: #f4f5f7;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  line-height: 45px;
  padding-left: 9px;
}

.headerRight {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  padding-right: 10px;
  flex-grow: 1;
  text-align: right;
  font-size: 12px;
  color: #606c80;
}

.headerExpand {
  cursor: pointer;
}

.icon {
  margin-right: 5px;
  font-size: 12px;
  color: #606c80;
}

.name {
  color: #202d40;
  margin-right: 10px;
}

.issuesNum {
  font-size: 12px;
  color: #606c80;
}

.body {
  padding: 0 12px;
}

.addFooter {
  display: flex;
  align-items: center;
  padding-left: 9px;
  color: #8592a6;
  cursor: pointer;
  font-weight: 400;
  line-height: 34px;
}

.addFooter:hover {
  color: #202d40;
  font-weight: 500;
}

.addItemContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 12px;
  margin-bottom: 1px;

  .divider {
    margin: 0 4px;
    height: 16px;
    width: 1px;
    background-color: #000019;
    opacity: 0.8;
  }

  .btn {
    box-shadow: none;
    margin: 6px;
    width: 56px;
    height: 24px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    background-color: rgb(241, 237, 237);
    cursor: pointer;
  }
}

.mainEmpty {
  background: #edeff2;
  border-radius: 3px;
  border: 2px dashed #cdd1da;
  width: 100%;
  margin: 2px;
  text-align: center;
  line-height: 32px;
  color: #8592a6;
  font-size: 13px;
}
