.operate {
  color: #1890ff;
  cursor: pointer;
}

.proName {
  cursor: pointer;
}

.addBtn {
  // margin-bottom: 12px;
}

.modalContainer {}

.modalTitle {
  margin-bottom: 10px;
  color: #dd3e6e;
}

.modalBtn {
  width: 200px;
  margin-top: 20px;
}

.btn {
  margin-right: 20px;
}

.leftBtn {}

.table {
  background-color: #ebf0f5;
}
