.projectsRoot {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  height: calc(100vh - 78px);
  max-width: 1200px;
}

.leftNav {
  width: 200px;
  background-color: #fff;
  margin-right: 10px;

  .header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }

  .prolists {
    display: flex;
    flex-direction: column;
  }

  .proItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 40px;
    line-height: 20px;
  }
}

.drawerInner {
  display: flex;
  min-width: 1000px;
}

.leftContainer {
  width: 30%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fa;
}

.rightContent {
  background-color: #333d9e;
  flex: 1 1;
  background: #fff;
  padding: 30px 30px 50px;

  .contentTitle {
    line-height: 24px;
    color: #202d40;
    font-size: 18px;
    font-weight: 500;
  }

  .mangeLists {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .mItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: 150px;
    margin: 13px;
    padding: 10px;
  }

  .mItem:hover {
    background-color: #f3f4f7;
  }

  .itemImg {
    border: 1px dashed #06f;
    width: 94px;
    height: 94px;
    border-radius: 2px;
    color: #06f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .itemName {
    width: 100%;
    align-self: flex-start;
    padding-top: 8px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.drawer {
  position: absolute;
  min-width: 1000px;
  z-index: 223;
  background-color: #fff;
  opacity: 0.98;
  height: 100vh;
  width: 100%;
}

.drawerInner {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  .rightContent {
    width: 100%;
    padding-top: 120px;
  }
}

.title {
  font-size: 24px;
  color: #202d40;
  line-height: 32px;
  margin-bottom: 30px;
}

.item {
  margin: 10px 0;
}

.subtitle {
  font-size: 14px;
  color: #202d40;
  font-weight: 700;
  margin-bottom: 5px;
}

.tips {
  font-size: 12px;
}

.btn {
  outline: none;
  border: 1px solid #acabab;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 12px;
  width: 82px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 16px;
  margin-right: 12px;
}

.btn:hover {
  box-shadow: 0 0 1px 1px #e6e4e4;
}

.leftBtn {
  color: #fff;
  background-color: #202d40;
}

.leftBtn:hover {
  opacity: 0.9;
}

.closeBtn {
  width: 36px;
  height: 36px;
  background-color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(77, 89, 131);
  cursor: pointer;
}

.closeBtn:hover {
  box-shadow: 0 0 10px 1px #c5c5c7;
}

.infoPic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 158px;
  padding-left: 32px;
  border-left: 1px solid #f5f5f5;

  .picTitle {
    font-size: 14px;
    color: #202d40;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .bcImg {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 96px;
    height: 96px;
    border-radius: 3px;
    margin-bottom: 8px;
    background: 50% no-repeat;
    background-size: cover;
  }

  .changeBtn {
    width: 96px;
    padding: 4px 8px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 11px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #455166;
    box-shadow: 0 0 0 1px rgba(32, 45, 64, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .changeBtn:hover {
    box-shadow: 0 0 2px 1px rgba(32, 45, 64, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}
.text {
  resize: none;
}
