.iterRoot {
  // display: flex;
  // justify-content: center;
}

.operate {
  color: #1890ff;
  cursor: pointer;
}

.table {
  width: 700px;
  box-shadow: 10px 10px 5px #888888;
}

.addIss{
  display: inline-block;
  background-color: #8d8c8c;
  border-radius: 5%;
  padding: 2px;
  color: #fff;
  cursor: pointer;
  width: 70px;
  text-align: center;
  box-shadow: 2px 2px 6px #32853d;
}
.addIss:hover{
  background-color: rgb(111, 131, 190);
}