.proContainer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapcontainer {
  overflow: auto;
  // height: 100%;
  flex-grow: 1;
  margin-left: 10px;
}

.listcontainer {
  margin-bottom: 4px;
  overflow: auto;
  height: calc(100% + 17px);
}

.eachcontainer {
  margin-bottom: 10px;
}
